* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.sln text eol=crlf
*.vcxproj text eol=crlf
*.vcxproj.filters text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.tga binary
*.dds binary
*.ktx binary
*.ktx2 binary
*.spv binary
*.glb binary
