<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <TargetFramework>net10.0</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>false</SelfContained>
    <UseAppHost>true</UseAppHost>
    <PublishSingleFile>false</PublishSingleFile>
    <StudioNativeBuildPreset>msvc-release</StudioNativeBuildPreset>
    <StudioNativeBuildOutputRoot>$(MSBuildProjectDirectory)\..\..\build\cmake\msvc-release</StudioNativeBuildOutputRoot>
    <AppHostDotNetSearch>AppRelative</AppHostDotNetSearch>
    <AppHostRelativeDotNet>../managed/dotnet</AppHostRelativeDotNet>
  </PropertyGroup>
</Project>
